In [1]:
import numpy as np
import pandas as pd

import yfinance as yf

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
stocks = input("Enter code of the stocks :-")
data = yf.download(stocks,"2008-01-01","2021-01-18",auto_adjust=True)
data.head()

Enter code of the stocks :-NG=F
[*********************100%***********************]  1 of 1 completed

             Open   High    Low  Close  Volume
Date
2008-01-02  7.572  7.876  7.564  7.850   68553
2008-01-03  7.873  7.980  7.610  7.674   72742
2008-01-04  7.652  7.859  7.500  7.841   61496
2008-01-07  7.803  7.940  7.701  7.879   56675
2008-01-08  7.909  7.997  7.880  7.967   53775

In [7]:
data.shape

(3282, 5)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3282 entries, 2008-01-02 to 2021-01-15
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    3282 non-null   float64
 1   High    3282 non-null   float64
 2   Low     3282 non-null   float64
 3   Close   3282 non-null   float64
 4   Volume  3282 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 153.8 KB

In [9]:
data.describe()`

              Open         High          Low        Close         Volume
count  3282.000000  3282.000000  3282.000000  3282.000000    3282.000000
mean      3.713705     3.787288     3.635038     3.707074  131397.603595
std       1.830425     1.865744     1.789584     1.825297   54393.040171
min       1.441000     1.567000     1.432000     1.482000       0.000000
25%       2.691250     2.736500     2.644000     2.693000   91744.250000
50%       3.253000     3.312000     3.183500     3.240500  126669.500000
75%       4.157750     4.244750     4.066750     4.152000  161490.500000
max      13.580000    13.694000    13.306000    13.577000  459196.000000

data.Close.plot(figsize=(10,7),color= 'r')
plt.ylabel("{} Prices".format(stocks))
plt.title("{} Prices series".format(stocks))
plt.show()